:root {
  --jumbotron-padding-y: 2rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron .container {
  max-width: 40rem;
}

.bgimage1{
  background-image: url("Images/meg-boulden-3ojU4UXDydA-unsplash.jpg");
}

.bgimage2{
  background-image: url("Images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg");
}

.bgimage3{
  background-image: url("Images/cookie-the-pom-gySMaocSdqs-unsplash.jpg");
}

.paraheightbig{
  height: 90vh;
}

.paraheightmid{
  height: 70vh;
}

.parallax{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.captionText{
  position:absolute;
  font-size: xx-large;
  color: #fff;
  bottom: 20%;
  left: 15%;
}

.darken{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

/*
w3school code for mobile parallax issue
Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
*/
