:root {
  --jumbotron-padding-y: 2rem;
  --black: black;
}


.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron .container {
  max-width: 40rem;
}

.bgimage1{
  background-image: url("Images/meg-boulden-3ojU4UXDydA-unsplash2.jpg");
}

.bgimage2{
  background-image: url("Images/ilya-pavlov-OqtafYT5kTw-unsplash2.jpg");
}

.bgimage3{
  background-image: url("Images/sigmund-4UGmm3WRUoQ-unsplash2.jpg");
}

.paraheightbig{
  height: 90vh;
}

.paraheightmid{
  height: 70vh;
}

.parallax{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.captionText{
  position: relative;
  top: 65%;
  font-size: xx-large;
  color: #fff;
}


.captionImage{
  display: block;
  position:absolute;
  bottom: 40px;
  right: 7.5%;
  object-fit: contain;
  object-position: center center;
}

.darken{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.gradienter{
  background-image: linear-gradient(to bottom right, black, grey);
}

.test1{
  border: solid yellow 2px;
}

.cardimgborder{
  border: solid lightgray 2px;
}

/*
w3school code for mobile parallax issue
Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
*/
